rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /siteSettings/{settingId} {
      allow get: if true;
      allow list: if false;
      allow create, update, delete: if true;
    }

    match /giftItems/{giftId} {
      allow get, list: if true;
      allow create, update, delete: if true;
    }

    match /tables/{tableId} {
      allow read, write: if true;
    }

    match /guestFamilies/{inviteId} {
      allow read, write: if true;

      match /members/{memberId} {
        allow read, write: if true;
      }
    }
  }
}
